.top-spacer {
    min-height: 200px;
}
#login-page,
#signup-page {
    min-height: 115vh;
    background-color: #21212118;
}
.section {
    background-color: rgb(218, 251, 251);
}
.title {
    font-size: 30px;
}
.items {
   display: flex;
   justify-content: space-between;
}
.items .icon {
   border-radius: 12px;
   font-size: 80px;
   color: rgb(170, 161, 251);
   background-color: rgb(132, 118, 250);
   padding: 100px 100px;
   cursor: pointer;
}
.icon:hover {
  color: rgb(132, 118, 250);
  background-color: rgb(170, 161, 251);
 }
.texticon {
    display: block; 
    text-align: center;
}