{{ define "content" }}

<section class="section">
    <div class="container">
      <h1 class="title">
        What do you want to learn?
      </h1>
    </div>
    <br>
    <div class="items">
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-language"></span></button>
        <h2>Literature</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-desktop"></span></button></span></button>
        <h2>Computer</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-regular fa-handshake"></span></button>
        <h2>Political Science</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-shapes"></span></button>
        <h2>Mathematics</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-compass"></span></button>
        <h2>Physics</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-atom"></span></button>
        <h2>Chemistry</h2>
      </div>
    </div>
    <br>
    <div class="items">
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-microscope"></span></button>
        <h2>Biology</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-earth-americas"></span></button>
        <h2>Geography</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-industry"></span></button>
        <h2>Economics</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-music"></span></button>
        <h2>Music</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-spoon"></span></button>
        <h2>Nutrition</h2>
      </div>
      <div class="texticon">
        <button class="icon"><span class="fa-solid fa-user-astronaut"></span></button>
        <h2>Astronomy</h2>
      </div>
    </div>
    <br>
    <div><button class="button is-link is-focused">See More</button></div>
</section>



{{ end }}