{{ define "content" }}

<!-- SUBJECTS SECTION -->
<section class="section">
  <div class="container">
    <div class="block mb-6">
      <h1 class="title">
        What do you want to learn?
      </h1>
    </div>

    <!-- SUBJECT ROW -->
    <div class="columns is-multiline subjects">
      <!-- SUBJECTS CARDS WILL GO HERE WITH JAVASCRIPT -->
    </div>

    <!-- SEE MORE BUTTON FOR SUBJECTS -->
    <div class="field">
      <div class="control">
        <button class="button is-link is-pulled-right">See More</button>
      </div>
    </div>

  </div>
</section>


<!-- SCRIPT -->
<script>
  let cell = `
    <div class="column is-2">
        <div class="card">

          <div class="card-header p-2">
            <h2 class="title is-4 card-header-title">{title}</h2>
          </div>

          <div class="card-image" style="font-size: 7rem;">
            <figure class="image is-4by3 p-0 has-text-centered">
              <span class="icon is-large">
                <i class="fa-solid {icon-class}">
                </i>
              </span>
            </figure>
          </div>

        </div>
      </div>
    </div>
  `
  titles_icons = [
    ["Literature", "fa-language"],
    ["Computer", "fa-desktop"],
    ["Pol. Sc.", "fa-handshake"],
    ["Mathematics", "fa-shapes"],
    ["Physics", "fa-compass"],
    ["Chemistry", "fa-atom"],
    ["Biology", "fa-microscope"],
    ["Geography", "fa-earth-americas"],
    ["Economics", "fa-industry"],
    ["Music", "fa-music"],
    ["Nutrition", "fa-earth-americas"],
    ["Astronomy", "fa-user-astronaut"],
  ];
  let subjects = $(".subjects");
  for (let index = 0; index < titles_icons.length; index++) {
    const element = titles_icons[index];
    console.log(element)
    let edited_cell = cell.replace("{title}", element[0]);
    edited_cell = edited_cell.replace("{icon-class}", element[1]);
    subjects.html(subjects.html() + edited_cell);
  }
</script>


{{ end }}