{{ define "content" }}
<!-- TOP SPACER -->
<section class="section"></section>

<section class="section container" id="signin-block">
    <div class="columns is-centered">
        <div class="column box is-5 p-5">

            <!-- HEADING -->
            <div class="has-text-centered mb-6">
                <h1 class="title is-spaced">
                    <a href="/" class="has-text-black">TeachWise</a>
                </h1>
                <div class="subtitle">
                    <p class="subtitle">Sign In to your account</p>
                </div>
            </div>

            <!-- SIGN IN FORM -->
            <form method="post" action="/authenticate">

                <!-- EMAIL -->
                <div class="field my-2">

                    <label for="email">Email*</label>
                    <div class="control">
                        <input id="email" name="email" type="email" class="input my-1" placeholder="Email" required />
                    </div>

                </div>

                <div class="field my-2">
                    <!-- PASSWORD -->
                    <label for="password">Password</label>
                    <div class="control">
                        <input id="password" name="password" type="password" class="input my-1" placeholder="Password"
                            required />
                    </div>
                </div>


                <div class="field mt-5">
                    <!-- SUBMIT BUTTON -->
                    <div class="control">
                        <input class="button is-dark is-fullwidth is-responsive my-1" type="submit" value="Sign In" />
                    </div>
                </div>

            </form>

            <!-- EXTRA BUTTONS -->
            <!-- LINK TO LOG IN PAGE -->
            <div class="is-size-7 px-2 py-1 mt-4">
                <p class="my-1">
                    New here?
                    <a href="/signup" class="is-underlined has-text-weight-bold has-text-black">
                        Create your account
                    </a>
                </p>
                <p class="my-1">
                    <a href="/new-password" class="is-underlined has-text-black">
                        Forgot your password?
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

{{ end }}