{{ define "navbar" }}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-5 has-text-weight-semibold" href="/">
            <h1 class="title">TeachWise</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span>{{.User.FirstName}} {{.User.LastName}}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <a href="/user/profile" class="dropdown-item">
                            Profile
                        </a>
                        <a href="/user/edit-profile" class="dropdown-item">
                            Edit Profile
                        </a>
                        <a href="/user/settings" class="dropdown-item">
                            Settings
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-danger" href="/logout">
                    Sign Out
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>
{{ end }}