{{ define "navbar" }}
<nav>
    <div class="search-container">
      <form action="/action_page.php">
        <label for="search-input">Search:</label>
        <input type="text" id="search-input" placeholder="Search..." name="search">
        <button type="submit" aria-label="Search"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="login-section">
      <button class="login-button">Sign Up</button>
      <button class="login-button">Login</button>
    </div>
  </nav>
{{ end }}