{{ define "content" }}
<!-- TOP SPACER -->
<section class="section"></section>

<section class="section container" id="signup-block">
    <div class="columns is-centered">
        <div class="column box is-5 p-5">

            <!-- HEADING -->
            <div class="has-text-centered mb-6">
                <h1 class="title">
                    TeachWise
                </h1>
                <div class="">
                    <p class="subtitle">Sign up to your account</p>
                </div>
            </div>

            <!-- SIGN UP FORM -->
            <form method="post" action="/signup-account">
                <div class="field my-2">
                    <div class="columns">

                        <!-- FIRST NAME -->
                        <div class="column">
                            <label for="first-name">First Name*</label>
                            <div class="control">
                                <input id="first-name" name="first-name" type="text" class="input my-1"
                                    placeholder="Harry" required />
                            </div>
                        </div>

                        <!-- LAST NAME -->
                        <div class="column">
                            <label for="last-name">Last Name</label>
                            <div class="control">
                                <input id="last-name" name="last-name" type="text" class="input my-1"
                                    placeholder="Potter" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="field my-2">

                    <label for="email">Email*</label>
                    <div class="control">
                        <input id="email" name="email" type="email" class="input my-1" placeholder="Email" required />
                    </div>

                </div>

                <div class="field my-2">
                    <!-- PASSWORD -->
                    <label for="password">Password</label>
                    <div class="control">
                        <input id="password" name="password" type="password" class="input my-1"
                            placeholder="Password" />
                    </div>

                    <!-- CONFIRM PASSWORD -->
                    <label for="retype-password">Confirm Password</label>
                    <div class="control">
                        <input name="retype-password" type="password" class="input my-1"
                            placeholder="Confirm Password" />
                    </div>

                </div>


                <div class="field mt-5">
                    <!-- SUBMIT BUTTON -->
                    <div class="control">
                        <input class="button is-dark is-fullwidth is-responsive my-1" type="submit" value="Sign Up" />
                    </div>
                </div>

            </form>

            <!-- EXTRA BUTTONS -->
            <!-- LINK TO LOG IN PAGE -->
            <div class="has-text-left is-size-7 px-2 py-1 mt-4">
                Already have an account?
                <a href="/login" class="is-underlined has-text-weight-bold has-text-black">
                    Log In.
                </a>
            </div>
        </div>
    </div>
</section>

{{ end }}