<section class="section">
    <div class="container">
        <div class="block mb-6">
            <h1 class="title">All Cities</h1>
        </div>

        <!--search-->
        <div class="navbar-item">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="Search.." style="width: 350px;">
                </div>
                <div class="control">
                    <a class="button is-primary" style="width: 80px">Search</a>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-half">
                <!-- Second column content -->
                <!--cities-->
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth mx-3">
                    <thead>
                        <tr>
                            <th>Cities</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><a title="Kolkata">kolkata</a></th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th><a title="Bangalore">bangalore</a></th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="column is-half" style="height:90vh; position: sticky; z-index: -9; top: 0;">
                <!-- sticky sidebar in my case -->
                <img src="https://static.vecteezy.com/system/resources/previews/001/265/731/original/map-with-location-pin-vector.jpg"
                    alt="" srcset="" style="width: 90%" />
            </div>

        </div>
    </div>
</section>